.todolist-container {
    .add-button {
        background-color: rgb(7, 103, 133);
        margin: 15px;
    }
    .no-task {
        padding: 15px;
        font-size: 26px;
        font-weight: 400;
        color: rgb(169, 169, 169);
    }
}